/*all body*/
body {
  background-color: linen;
  margin: 0;
  padding: 0;
}

/*NAVIGATION*/
.navigation-bar {
  background-color: black;
  padding: 15px; 
  display: flex;
  justify-content: center; 
  gap: 20px; 
}
.navigation-bar a {
  color: white; 
  font-size: 16px;
  transition: 0.3s; 
  text-decoration: none;
}
.navigation-bar a:hover {
  background-color: lightgray; 
  color: black;
  box-shadow:lightgray;
}

/*HEADER*/
.HeaderSection {
  background-color: linen; 
  color: white;
  text-align: center;
  padding: 80px 20px; 
  font-family: Arial, sans-serif;
}
.HeaderSection h1 {
  margin: 0;
  font-size: 40px;
  color: black;
  font-family: italic;
  font-weight: bold;
}
.HeaderSection p {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}
.HeaderSection img{
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/*INFO header*/
.InformationHeader{
  background-color:black; 
  color: white;
  text-align: center;
  padding: 40px 20px; 
  margin: 0;
  width: 100%;
  font-family: italic
}
.InformationHeader h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.InformationHeader p {
  color: white;
  font-size: 16px;
}

/*about section*/
.About {
  background-color: linen;
  border: 10px double tan;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  width: 100%;
  max-width: 600px;
  font-style: italic; 
}
.About h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.About p{
  font-style: italic;
  color: black;
}

/*Education section*/
.Education {
  background-color: linen;
  border: 10px double tan;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  width: 100%;
  max-width: 600px;
  font-style: italic; 
}
.Education h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.Education ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;

}
.Education li {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 10px;
}

/*skill section*/
.skill {
  background-color: linen;
  border: 10px double tan;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  width: 100%;
  max-width: 600px;
  font-style: italic;  
}
.skill h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.skill ul {
  background-color: linen;
  color: black;
  list-style-type: disc;
  padding-left: 20px;
}
.skill li {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 10px;
}
/*skill table*/
.languagetable {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  border: 3px double tan;
  border-radius: 10px;
  overflow: hidden;
  font-style: italic;
}
.languagetable th {
  background-color: tan;
  color: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid tan;
}
.languagetable td {
  padding: 8px;
  text-align: center;
  border: 1px solid tan;
  color: black;
}
.skill h3 {
  text-align: center;
  margin-top: 30px;
  color: black;
}

/*experience project section*/
.ExperienceProject {
  background-color: linen;
  border: 10px double tan;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  width: 100%;
  max-width: 600px;
  font-style: italic;  
}
.ExperienceProject h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.ExperienceProject ul {
  background-color: linen;
  color: black;
  list-style-type: disc;
  padding-left: 20px;
}
.ExperienceProject li {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 10px;
}

/*contact section*/
.Contact {
  background-color: linen;
  border: 10px double tan;
  border-radius: 10px;
  padding: 40px;
  margin: 40px auto;
  width: 100%;
  max-width: 600px;
  font-style: italic;
  text-align: center;
}
.Contact h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.Contact p {
  color: black;
  font-style: normal;
  margin: 10px 0;
}

/*button*/
.btn1 {
  background-color: tan;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}
.btn1 a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.btn1:hover {
  background-color: wheat;
}

/*footer*/
.footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

/*for scroll*/
html {
  scroll-behavior: smooth;
}
section {
  padding: 100px;
  background-color: #faf0e6;
  margin-bottom: 20px;
}
